sql:
    connections:   20
    rmhost:        host for rmdb
    rmdb:          db for rm
    rmuser:        rmdb username
    rmpass:        rmdbpass
    discordhost:   host for discord db
    discorddb:     db for discord stats
    discorduser:   discord db username
    discordpass:   discord db password

discord:
    token: discord bot token
    whosthat: 'channel ID for games'
    guildid: 'Discord guild id'
    difficulty: 3

roles: 
    sortlga: false
    teams: true